.card-container {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 50px;
    height: fit-content;
    padding: 32px;
    text-align: center;
}
.card::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background-image: conic-gradient(var(--color) 0deg,
            transparent 60deg, transparent 180deg, var(--color) 180deg,
            transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: borderanimation 4s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.card::after {
    content: "";
    position: absolute;
    inset: 6px;

    border-radius: calc(50px - 6px);
    background: linear-gradient(
        to bottom right,
        rgba(13,13,17,1),
        rgba(35,35,39,1)
    );

    z-index: -1;
    transition: background 0.3s ease;
}
.card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    
    margin: 10px 0px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    justify-self: center;
    background: transparent;
}
.card svg {
    position: relative;
    width: clamp(30px, 3vw, 100px);
    height: clamp(30px, 3vw, 100px);
    fill: var(--color);
    border-radius: 50px;
    margin: 5px;
    animation: var(--animation);
    transition: 0.5s ease;
}
.card h3 {
    color: var(--color);
    font-size: clamp(12px, 2vw, 42px);
    transition: 0.5s ease;
}
.card p {
    text-align: center;
    font-size: clamp(10px, 1vw, 30px);
}
.card:hover::before{
    animation-play-state: running;
    opacity: 1;
}
.flip-card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;

    min-height: 100vh;
    padding: 32px;

    place-items: center;
}
.flip-card {
    width: 100%;
    max-width: 420px;
    aspect-ratio: 1 / 1;

    perspective: 1000px;
    background: transparent;
    font-family: sans-serif;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
@media (hover: hover) {
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    border-radius: 1rem;
    box-shadow: 0 8px 14px rgba(0,0,0,0.2);
}

.flip-card-front {
    background: linear-gradient(
        120deg,
        bisque 60%,
        rgb(255, 231, 222) 88%,
        rgb(255, 211, 195) 40%,
        rgba(255, 127, 80, 0.6) 48%
    );
    color: coral;
}

.flip-card-front img {
    width: 75%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 16px;
}

.flip-card-back {
    background: linear-gradient(
        120deg,
        rgb(255, 174, 145) 30%,
        coral 88%,
        bisque 40%,
        rgb(255, 185, 160) 78%
    );
    color: white;

    transform: rotateY(180deg);
}

.title {
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    font-weight: 900;
    text-align: center;
    margin: 0;
}

@media (max-width: 800px) {
    .flip-card-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .flip-card {
        max-width: 100%;
        width: 100%;
        aspect-ratio: 1 /1;
    }
    
    .card-container{
        grid-template-columns: 1fr;
        text-align: left;
    }
    
    .card {
        display: grid;
        grid-template-columns: 100px;
        height: fit-content;
    }
    
    .card svg{
        grid-column: 1;
        align-self: center
    }
    
    .card h3 {
        font-size: 30px;
        grid-column: 2;
        align-self: center;
        text-align: left;
        width: fit-content
    }
    
    .card p {
        grid-column: 3 ;
        max-width: 100px;
        justify-self: end;
        align-self: center;
        text-align: right;
        font-size: 10pt;
    }
}
@keyframes bounce{
    25% {transform: scaleY(0.1); transform: translateY(5px)}
    50% {transform: scaleY(1); transform: translateY(-20px)}
}
@keyframes pop{
    50%{transform: scale(0.8)}
    60%{transform: scale(1.2)}
}
@keyframes rotate{
    to {
        transform: rotate(-360deg)
    }
}
@keyframes slideinout{
    0% {left: -15px; opacity: 0.3}
    50%{left: 0px; opacity:1}
    100%{left: 20px; opacity:0.1}
}
@keyframes borderanimation {
    to {
        transform: rotate(-360deg);
    }
}
