*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #212121;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }