:root {
    --bg-main: #0c0c0d;
    --bg-panel: #232324;
    --bg-dark: #000;
    --text-main: #fff;

    --radius-lg: 50px;
    --gap-lg: 50px;

    --logo-size: clamp(32px, 2.5vw, 60px);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    color: var(--text-main);
    background: var(--bg-main);
}
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        transform: none !important;
    }
}
@keyframes textEnterY {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}
@keyframes textEnterIY {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes textEnterX {
    from {opacity: 0; transform: translateX(10px);}
    to {opacity: 1; transform: translateX(0);}
}
@keyframes textEnterIX {
    from {opacity: 0; transform: translateX(-10px);}
    to {opacity: 1; transform: translateX(0);}
}
@keyframes typeText {
    0% {width: 0%; border-right: solid 2px white;}
    99%{width: 99%; border-right: solid 2px white;}
    100%{width: 100%; border-right: none;}
}
.top {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
    padding: 10px;
    color: var(--text-main);

    background: linear-gradient(
        to right,
        rgba(12,12,13,0.8),
        rgba(12,12,13,0.5)
    );
}
.top h1 {
    margin-right: auto;
    font-size: clamp(12px, 1.2vw, 30px);
}
.top img,
.top #logo-dinas {
    width: var(--logo-size);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-lg);
    z-index: 1000;
}
.nav > a,
.nav > .dropdown {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a {
    position: relative;
    height: 25px;
    text-decoration: none;
    color: var(--text-main);
    font-size: clamp(10px, 1vw, 30px);
    transition: padding 0.3s ease;
}
.nav a:hover,
.nav a.active {
    color: #1e90ff;
}
.dropdown {
    position: relative;
    display: flex;
    width: 100%;
}
.dropdown-link {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    cursor: pointer;
    color: var(--text-main);
    text-decoration: none;
}
.dropdown-toggle {
    background: none;
    border: none;
    color: var(--text-main);
    cursor: pointer;
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow {
    font-size: 0.5vw;
    transition: transform 0.2s ease;
}
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;

    min-width: 100%;
    width: max-content;

    background: var(--bg-panel);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1001;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;

    transition: max-height 0.3s ease, opacity 0.2s ease;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    height: fit-content;
    color: var(--text-main);
    text-decoration: none;
    transition: padding-left 0.2s ease, background-color 0.2s ease;
}
.dropdown:hover .dropdown-content{
    max-height: 1000px;
    opacity: 1;
    pointer-events: auto;    
}
.dropdown-content a:hover {
    padding-left: 10px;
    background: #eee;
    color: #000;
}
.dropdown.open .arrow {
    transform: rotate(180deg);
}
.dropdown.open .dropdown-content {
    max-height: 1000px;
    opacity: 1;
    pointer-events: auto;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background: var(--bg-main);
    text-align: center;
}
.text h1 {
    font-size: clamp(12px, 2vw, 24px);
    margin-bottom: 10px;
    animation: textEnterY 3s ease;
}
.text p {
    font-size: clamp(10px, 1vw, 20px);
    animation: textEnterIY 3.5s ease;
}
.type-text-container {
    display: grid;
    padding: 50px;
    justify-content: center;
}
.type-text {
    font-size: 3em;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    animation: typeText 2s ease;
}
.nav-list {
    display: grid;
    gap: 40px;
    padding: 10px;
}
.nav-card {
    position: relative;
    display: grid;
    grid-template-columns: minmax(100px, 50%) 1fr;
    aspect-ratio: 2 / 1;

    background: #232327;
    border-radius: var(--radius-lg);
    overflow: hidden;
}
.nav-link {
    position: absolute;
    inset: 0;
    z-index: 5;
}
.nav-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 25px;
    border-radius: var(--radius-lg);
}
.nav-text {
    padding: 25px;
    background: var(--bg-dark);
    border-radius: var(--radius-lg);
}

.nav-text p {
    font-size: clamp(16px, 2vw, 20px);
    text-align: center;
}
@media (max-width: 800px) {
    .top {
        gap: 10px;
        padding: 10px 25px;
    }
    .top h1 {
        font-size: 1em;
    }
    .nav {
        display: none;
    }
    .arrow {
        position: absolute;
    }
}

.footer {
    display: grid;
    grid-template-columns: 50%;
    background-color: #0c0c0d;
}

.about{
    grid-column: 1;
    padding: 2rem;
    text-align: left;
}

.about p:first-child {
    font-size: clamp(12px, 2vw, 30px);
    font-weight: bold;
}

.about p{
    font-size: clamp(10px, 1vw, 24px);
}

.footer .maps {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.maps {
    text-align: center;
    background: #101012;
    padding: 20px;
}

.maps h1 {
    grid-column: 1 / -1;
}

.maps iframe {
    margin: 15px;
    
}

footer {
    height: fit-content;
    padding: 20px;
    background: black;
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(200px, 250px));
    }
    
    .footer .text{
        grid-column: 1;
        grid-row: 2;
    }
    
    .footer .maps {
        grid-column: 1;
        grid-row: 1;
    }
}
